<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mystictreegames.pagecurl"
      android:versionName="1.1" android:versionCode="2">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:excludeFromRecents="true" android:screenOrientation="sensor" android:name="AndroidPageCurlActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ListExample" android:screenOrientation="portrait" android:label="@string/list_example"></activity>
        <activity android:screenOrientation="portrait" android:label="@string/standalone_example" android:name="StandaloneExample"></activity>

    </application>
</manifest>